@import 'core/variables';
@import 'core/mixins';

@import 'core/plugins/plugin-bootstrap-switch';
@import 'core/plugins/plugin-nouislider';
@import 'core/plugins/plugin-bootstrap-select';
@import 'core/plugins/plugin-tagsinput';
@import 'core/plugins/plugin-fileupload';
@import 'core/plugins/plugin-datetimepicker';

@import 'core/nucleo-outline';

@import 'core/alerts';
@import 'core/checkboxes-radio';
@import 'core/badges';
@import 'core/pagination';
@import 'core/typography';
@import 'core/misc';

@import 'core/buttons';
@import 'core/social-buttons';
@import 'core/inputs';
@import 'core/progress';
@import 'core/pills';
@import 'core/pills-extend';

@import 'core/tabs';
@import 'core/navbar';
@import 'core/navbar-extend';
@import 'core/dropdown';
@import 'core/dropdown-extend';
@import 'core/images';
@import 'core/popups';
@import 'core/tables';
@import 'core/info-areas';
@import 'core/media';
@import 'core/modals';
@import 'core/modals-extend';
@import 'core/carousel';
@import 'core/footers';

@import 'core/cards';
@import 'core/cards/card-extend';
@import 'core/cards/card-background';
@import 'core/cards/card-blog';
@import 'core/cards/card-contact';
@import 'core/cards/card-fashion';
@import 'core/cards/card-form-horizontal';
@import 'core/cards/card-no-shadow';
@import 'core/cards/card-plain';
@import 'core/cards/card-pricing';
@import 'core/cards/card-profile';
@import 'core/cards/card-product';
@import 'core/cards/card-raised';
@import 'core/cards/card-signup';
@import 'core/cards/card-testimonials';

@import 'core/element-ui-plugins/carousel';
@import 'core/element-ui-plugins/date_picker';
@import 'core/element-ui-plugins/input';
@import 'core/element-ui-plugins/select';
@import 'core/element-ui-plugins/tables';
@import 'core/element-ui-plugins/tags';
@import 'core/element-ui-plugins/tooltip';

@import 'core/example-pages';
@import 'core/sections';
@import 'core/sections-extend';

@import 'core/responsive';



@import "core/mixins/vendor-prefixes";

.mcute-home-page .section-cards+.section-content {
    padding-top: 480px;
    padding-bottom: 30px;
    margin-top: -277px;
}

@media screen and (max-width: 576px){
    .index-page .typography-line span{
        margin-left: 0;
    }

    .mcute-home-page{
        .section-cards + .section-content{
            padding-top: 70px;
            margin-top: 0;
        }

    }

}

@media screen and (min-width: 768px) {
    .mcute-home-page{
    
        .section-content{
            .image-container{
                height: 400px;
                img{
                    position: absolute;
                    width: 100%;
                    max-width: 380px;
                }
                .img-blog{
                    z-index: 4;
                    left: 100px;
                    top: 20px;
                }
                .img-comments{
                    z-index: 3;
                    left: -100px;
                    top: -40px;
                }

            }
        }
    }
}


// Ipad Responsive
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {

    .mcute-home-page{
       
        .section-content{
            .image-container{
                height: 550px;
            }
        }
    }

}

@media screen and (max-width: 767px) {
   

    .mcute-home-page{
        
        .section-content{
            .image-container{
                margin-bottom: 45px;
            }
            img{
                margin-bottom: 15px;
            }
        }
    }
}
